// SessionMgr resource file

#include <windows.h>
#include <commctrl.h>
#include "resource.h"
#include "version.rc2"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_SES_DLG DIALOGEX 0, 0, IDD_SES_W, IDD_SES_H
STYLE WS_SIZEBOX | DS_SHELLFONT | WS_CAPTION | WS_POPUP
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW | WS_EX_TOPMOST | WS_EX_STATICEDGE
CAPTION " Session Manager"
FONT 8, "MS Shell Dlg", 400, 0, 0
{
    LTEXT           "Current session:", IDC_STATIC, IDC_ALL_MARGIN, 4, 56, IDC_ALL_TXT_H1, SS_LEFT
    CONTROL         "none", IDC_SES_TXT_CUR, WC_STATIC, NOT WS_GROUP | SS_SIMPLE | SS_WORDELLIPSIS, 65, 4, 114, IDC_ALL_TXT_H1
    LISTBOX         IDC_SES_LST_SES, IDC_ALL_MARGIN, IDC_SES_LST_SES_Y, IDC_SES_LST_SES_W, IDC_SES_LST_SES_H, WS_TABSTOP | WS_VSCROLL | LBS_NOINTEGRALHEIGHT | LBS_SORT | LBS_NOTIFY
    AUTOCHECKBOX    "Load into the current session", IDC_SES_CHK_LIC, IDC_ALL_MARGIN, IDC_SES_CHK_LIC_Y, IDC_SES_CHK_W, IDC_SES_CHK_H, BS_VCENTER
    AUTOCHECKBOX    "Load without closing open files", IDC_SES_CHK_LWC, IDC_ALL_MARGIN, 193, IDC_SES_CHK_W, IDC_SES_CHK_H, BS_VCENTER
    DEFPUSHBUTTON   "Load", IDC_SES_BTN_LOAD, IDC_SES_BTN_X, 17, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "Default", IDC_SES_BTN_DEF, IDC_SES_BTN_X, 38, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "Save", IDC_SES_BTN_SAVE, IDC_SES_BTN_X, 59, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "New", IDC_SES_BTN_NEW, IDC_SES_BTN_X, 80, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "Rename", IDC_SES_BTN_REN, IDC_SES_BTN_X, 101, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "Delete", IDC_SES_BTN_DEL, IDC_SES_BTN_X, 122, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "Cancel", IDC_SES_BTN_CANCEL, IDC_SES_BTN_X, 143, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_NEW_DLG DIALOGEX 0, 0, IDD_SUBDLG_W, 98
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT           "Create New Session", IDC_STATIC, IDC_ALL_MARGIN, IDC_ALL_MARGIN, IDC_ALL_TXT_W, IDC_ALL_TXT_H1, SS_LEFT
    EDITTEXT        IDC_NEW_EDT_NAME, IDC_ALL_MARGIN, 19, 154, IDC_ALL_EDT_H, ES_AUTOHSCROLL
    AUTORADIOBUTTON "As an empty session", IDC_NEW_RAD_EMPTY, IDC_ALL_MARGIN, 36, IDC_NEW_RAD_W, IDC_NEW_RAD_H, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "From the currently open files", IDC_NEW_RAD_OPEN, IDC_ALL_MARGIN, 49, IDC_NEW_RAD_W, IDC_NEW_RAD_H, WS_TABSTOP
    AUTORADIOBUTTON "By copying the selected session", IDC_NEW_RAD_COPY, IDC_ALL_MARGIN, 62, IDC_NEW_RAD_W, IDC_NEW_RAD_H, WS_TABSTOP
    DEFPUSHBUTTON   "OK", IDOK, 83, 77, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "Cancel", IDCANCEL, 127, 77, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_REN_DLG DIALOGEX 0, 0, IDD_SUBDLG_W, 62
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT           "Rename Selected Session", IDC_STATIC, IDC_ALL_MARGIN, IDC_ALL_MARGIN, IDC_ALL_TXT_W, IDC_ALL_TXT_H1, SS_LEFT
    EDITTEXT        IDC_REN_EDT_NAME, IDC_ALL_MARGIN, 19, IDC_ALL_TXT_W, IDC_ALL_EDT_H, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, 83, 41, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "Cancel", IDCANCEL, 123, 41, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_DEL_DLG DIALOGEX 0, 0, IDD_SUBDLG_W, 44
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_SYSMENU
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    LTEXT           "Delete Selected Session", IDC_STATIC, IDC_ALL_MARGIN, IDC_ALL_MARGIN, IDC_ALL_TXT_W, IDC_ALL_TXT_H1, SS_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 82, 23, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "Cancel", IDCANCEL, 123, 23, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_CFG_DLG DIALOGEX 0, 0, IDD_CFG_W, IDD_CFG_H
STYLE WS_SIZEBOX | DS_SHELLFONT | WS_CAPTION | WS_POPUP
EXSTYLE WS_EX_WINDOWEDGE | WS_EX_TOOLWINDOW | WS_EX_TOPMOST | WS_EX_STATICEDGE
CAPTION " Session Manager Settings"
FONT 8, "MS Shell Dlg", 400, 0, 1
{
    AUTOCHECKBOX    "Auto Save", IDC_CFG_CHK_ASV, IDC_ALL_MARGIN, IDC_ALL_MARGIN, IDC_CFG_CHK_W, IDC_CFG_CHK_H
    AUTOCHECKBOX    "Auto Load", IDC_CFG_CHK_ALD, IDC_ALL_MARGIN, 23, IDC_CFG_CHK_W, IDC_CFG_CHK_H
    AUTOCHECKBOX    "Enable 'Load into current'", IDC_CFG_CHK_ELIC, 90, IDC_ALL_MARGIN, IDC_CFG_CHK_W2, IDC_CFG_CHK_H
    AUTOCHECKBOX    "Disable 'Load without closing'", IDC_CFG_CHK_DLWC, 90, 23, IDC_CFG_CHK_W2, IDC_CFG_CHK_H
    LTEXT           "Session files folder", IDC_STATIC, IDC_ALL_MARGIN, 40, 60, IDC_ALL_TXT_H2, SS_LEFT
    EDITTEXT        IDC_CFG_EDT_DIR, IDC_ALL_MARGIN, 50, IDC_CFG_EDT_W, IDC_ALL_EDT_H, ES_AUTOHSCROLL
    LTEXT           "Session file extension", IDC_STATIC, IDC_ALL_MARGIN, 68, 80, IDC_ALL_TXT_H2, SS_LEFT
    EDITTEXT        IDC_CFG_EDT_EXT, IDC_ALL_MARGIN, 78, IDC_CFG_EDT_W, IDC_ALL_EDT_H, ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK", IDOK, IDC_CFG_BTN_X1, 99, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
    PUSHBUTTON      "Cancel", IDCANCEL, IDC_CFG_BTN_X2, 99, IDC_ALL_BTN_W, IDC_ALL_BTN_H, BS_CENTER
}
